# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ENMSLicMgr/ClientDotNet/obj
/ENMSLicMgr/x64/Debug
/ENMSLicMgr/NatLicMgr/x64/Debug
/ENMSLicMgr/.vs/ENMSLicMgr/v17
/ENMSLicMgr/.vs/ENMSLicMgr/FileContentIndex
/.vs/ENMSLic/v17
/ENMSLicMgr/.vs/ENMSLicMgr/DesignTimeBuild
/ENMSLicMgr/ClientDotNet/bin/Debug/net7.0-windows
/ENMSLicMgr/LicGen/x64/Debug
/ENMSLicMgr/.vs/ProjectEvaluation
/.vs/VSWorkspaceState.json
/ENMSLicMgr/LicGen/x64/Release
/ENMSLicMgr/NatLicMgr/x64/Release
/ENMSLicMgr/x64/Release
/ENMSLicMgr/ClientDotNet/bin/Release/net7.0-windows/License
/ENMSLicMgr/ClientDotNet/bin/Release/net7.0-windows
/ENMSLicMgr/LicGen/LicGen.aps
/ENMSLicMgr/Shortcur to client release.lnk
/ENMSLicMgr/ClientDotNet/bin/Release
/.gitignore
/ENMSLicMgr/Licences/113706 - SILENO-FR-004 - 1.1 permanent/lic113706.dat
/ENMSLicMgr/Licences/113706 - SILENO-FR-004 - 1.1 permanent/Signature'sileno-fr-004'.dat
/ENMSLicMgr/Licences/113707 - SILENO-FR-004 - Expiree au 2 Juin 2025/lic113707.dat
/ENMSLicMgr/Licences/113707 - SILENO-FR-004 - Expiree au 2 Juin 2025/Signature'sileno-fr-004'.dat
/ENMSLicMgr/Licences/113708 - SILENO-FR-004 - Expiree au 31 octobre/lic113708.dat
/ENMSLicMgr/Licences/113708 - SILENO-FR-004 - Expiree au 31 octobre/Signature'sileno-fr-004'.dat
